body{
    display: flex;
    flex-direction: column;
    background-color: #343434;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    height: 100vh;
    color: white;
    font-family: monospace;
}

#title{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}


#bottom{
    background-color: #1b1b1bce;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
}

#typingBox{
    height: fit-content;
    padding: 0px 20px;
}

button{
    display: block;
    background-color: #4e4e4e;
    color: white;
    padding: 0.5em;
    border: 1px solid ;
    border-radius: 5px;
    width: 100px;
    font-family: inherit;
    cursor: pointer;
    margin-right: 10px;
}

button:hover{
    background-color: #5c5c5c;
}

/* Implementing a blinker */

.blink {
    padding-left: 0px;
    /* border-right: solid 1px white; */
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0%{
       opacity: 1;
    }
    100%{
        opacity: 0;
    }
}